In [1]:
import os
import pandas as pd
import shutil

In [2]:
DATA_DIR = os.path.join(os.getcwd(),"augmented_data")

In [3]:
if not os.path.exists(DATA_DIR):
    os.makedirs(DATA_DIR)

In [4]:
data_train = pd.read_csv(os.path.join(os.getcwd(),"train.csv"))
data_test = pd.read_csv(os.path.join(os.getcwd(),"test.csv"))

In [5]:
data_train['Image'] = data_train['Image'].apply(lambda x:os.path.join(os.getcwd(),"dataset","train",x))
data_test['Image'] = data_test['Image'].apply(lambda x:os.path.join(os.getcwd(),"dataset","test",x))

In [6]:
print("The number of training images is ",data_train.shape[0])
print("The number of testing images is ",data_test.shape[0])

The number of training images is  364
The number of testing images is  156

In [7]:
data_train['target'].value_counts().index

Index(['mohiniyattam', 'odissi', 'kathakali', 'bharatanatyam', 'kuchipudi',
       'sattriya', 'kathak', 'manipuri'],
      dtype='object')

In [8]:
dance_dist = list()
for idx,num_files in enumerate(data_train['target'].value_counts()):
    dance_dist.append({
        "DanceName":data_train['target'].value_counts().index[idx],
        "NumFiles":num_files
    })
dance_dist = pd.DataFrame(dance_dist)

In [9]:
dance_dist

       DanceName  NumFiles
0   mohiniyattam        50
1         odissi        49
2      kathakali        47
3  bharatanatyam        47
4      kuchipudi        46
5       sattriya        45
6         kathak        44
7       manipuri        36

In [10]:
data_train.head(10)

                                               Image         target
0  /home/abhinav/dance_recognition/dataset/train/...       manipuri
1  /home/abhinav/dance_recognition/dataset/train/...  bharatanatyam
2  /home/abhinav/dance_recognition/dataset/train/...         odissi
3  /home/abhinav/dance_recognition/dataset/train/...      kathakali
4  /home/abhinav/dance_recognition/dataset/train/...         odissi
5  /home/abhinav/dance_recognition/dataset/train/...         kathak
6  /home/abhinav/dance_recognition/dataset/train/...       sattriya
7  /home/abhinav/dance_recognition/dataset/train/...      kuchipudi
8  /home/abhinav/dance_recognition/dataset/train/...       sattriya
9  /home/abhinav/dance_recognition/dataset/train/...      kuchipudi

In [11]:
for i in range(data_train.shape[0]):
    if not os.path.exists(os.path.join(DATA_DIR,data_train.iloc[i,1])):
        os.makedirs(os.path.join(DATA_DIR,data_train.iloc[i,1]))
    shutil.copy(data_train.iloc[i,0],os.path.join(DATA_DIR,data_train.iloc[i,1],data_train.iloc[i,0].split("/")[-1]))

In [12]:
# run the genData.py file in the current working directory

In [14]:
DATA_DIR = os.path.join(os.getcwd(),"augmented_data")

In [16]:
# creating the new train.csv

def create_csv(DATA_DIR,filename):
    data = list()
    class_names = os.listdir(DATA_DIR)
    for class_name in class_names:
        file_names = os.listdir(os.path.join(DATA_DIR,class_name))
        for file_name in file_names:
            data.append({
                "FileName":os.path.join(DATA_DIR,class_name,file_name),
                "ClassName":class_name
            })
    data = pd.DataFrame(data)
    data.to_csv(filename,index=False)

create_csv(DATA_DIR,"train_augmented.csv")

In [17]:
data = pd.read_csv(os.path.join(os.getcwd(),"train_augmented.csv"))
data.head()

                                            FileName  ClassName
0  /home/abhinav/dance_recognition/augmented_data...  kuchipudi
1  /home/abhinav/dance_recognition/augmented_data...  kuchipudi
2  /home/abhinav/dance_recognition/augmented_data...  kuchipudi
3  /home/abhinav/dance_recognition/augmented_data...  kuchipudi
4  /home/abhinav/dance_recognition/augmented_data...  kuchipudi